@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&display=swap');
.boton{
    background-color: black;
    color: white;
    font-size: 16;
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid  white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    cursor: pointer;
}
.boton:hover{
    background-color: white;
    color: black;
}
.container_boton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}